<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chwon.eneasblaster">

    <uses-sdk
        android:minSdkVersion="27"
        android:targetSdkVersion="31" />

    <!-- <uses-feature -->
    <!-- android:name="android.hardware.type.automotive" -->
    <!-- android:required="true" /> -->
    <!--
 This is needed from Android 11 on:
         https://developer.android.com/training/package-visibility/declaring
    -->
    <queries>
        <package android:name="com.spotify.music" />
    </queries>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_eneasblaster4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_eneasblaster4_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EneasBlaster">
        <service
            android:name="com.chwon.eneasblaster.SpotifyConnectorService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name="com.chwon.eneasblaster.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.chwon.eneasblaster.EneasBlasterCarService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1" />
    </application>

</manifest>